# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/
dist/
build/
*.tsbuildinfo

# Environment & secrets (JANGAN commit)
.env
.env.*
!.env.example
!.env.production.example

# Testing & coverage
coverage/

# Logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
tmp/
storage/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Local DB
*.sqlite
